@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: #66615b;
}

h2 {
  padding-top: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 2rem 0;
  text-align: center;
  color: #66615b;
}

$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 0px;
$font-size: 25px;

/*common styles !!!YOU DON'T NEED THEM */



.padding {
  padding-bottom: 2.5rem;
}

p {
  padding-bottom: 0.4rem;
  line-height: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  color: #686868;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.effect {
  width: 100%;
  padding: 0px;
  background-color: #fff;

  &:nth-child(2) {
    margin-top: 0px;
  }

  &:nth-child(2n + 1) {
    background-color: #fff;

    h2 {
      color: #fff;
    }
  }

  .buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  a {
    &:last-child {
      margin-right: 0px;
    }
  }
}

.effect {
  // display: flex;

  a {
    text-decoration: none !important;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    margin-right: 20px;
    font-size: 25px;
    overflow: visible;
    position: relative;

    i {
      position: relative;
      z-index: 3;
    }

    &.fb {
      background-color: $fb-color;
    }

    &.tw {
      background-color: $tw-color;
    }

    &.g-plus {
      background-color: $g-plus;
    }

    &.pinterest {
      background-color: $pinterest;
    }

    &.insta {
      background-color: $insta;
    }

    &.in {
      background-color: $in;
    }
  }
}

/* aeneas effect */

.effect.aeneas {
  a {
    border-radius: 50%;
    i {
      transition: transform 0.4s linear 0s;
    }

    &:hover {
      transform: rotate(360deg);
      border-radius: 50%;

      i {
        transform: rotate(-360deg);
      }
    }
  }
}

.fill-form {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-align: center;
  background-color: #34495e;
  padding: 1rem 0;
  margin-left: 35%;
  margin-right: 35%;
  border-radius: 10px;
}

input,
textarea {
  color: #66615b;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  border: none;
  border-radius: 2px;
}

input {
  margin-top: 10px;
  width: 15rem;
}

textarea {
  margin-top: 10px;
  width: 15rem;
}

.help {
  font-size: 0.5rem;
}

.button {
  border: 0px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  width: 15rem;
  display: block;
  color: #66615b;
  border-radius: 20px;
  padding: 0.5em 0;
  text-decoration: none;
  font-size: 1rem;
  margin: 10px auto;
  position: relative;
  text-align: center;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: 600;
}

.button:hover {
  background-color: #66615b;
  transform: scale(1);
  cursor: pointer;
  color: white;
}
