<div class="container">
    <h1>News</h1>
    <p>ICM National Assessments: With the Covid-19 Pandemic the ICM made the decision with the learners safety to
        introduce Digital National Assessments to ensure the safety and well-being of our Learners, the ICM Education
        Committee and ICM Board made the decision to introduce Digital National Assessments.</p>
    <p>The ICM has now run two sets of Digital National Assessments, June and November 2020 with good results and the
        ICM Education Board is happy to share that there has been no evidence of cheating the National assessments have
        been declared “fair and above board”.</p>
</div>