<div class="container">
    <h1>Professional Bodies</h1>
    <p>The Institute of Credit Management has been accredited as the Credit Professional Body by SAQA since 2012, and we are Proud to be able to state that we have met SAQA’s criteria each year, without fail  since then and  have achieved the “Green Light” by maintaining all SAQA’s criteria and met their standards.</p>
    <p>All Professional Members are required to achieve 30 Points within a 3- year time- period, by way of Continual Professional Development which is very important with the ever-Changing Credit Environment within which we live in.</p>
    <p>Covid-19 has given us some challenges during 2020 and we have not been able to deliver on the events which the ICM would normally deliver.</p>
    <p>The ICM will once again meet these challenges commencing 2021.</p>
</div>






