<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.creative-tim.com"><img src="assets/img/logo.PNG"></a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <div class="collapse navbar-collapse" id="navbar-menu">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Qualification Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Credit Network Forum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Credit Professional Designation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">RPL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Training and Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">News and resourses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Partners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Membership</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#pk">Learner Portal</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" href="#pk">Leaders Mentorship program</a>
                    </li>
                    
                    <li class="nav-item ">
                        <div ngbDropdown class="d-inline-block dropdown">
                            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Dropdown</a>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                <a class="dropdown-item">Action - 1</a>
                                <a class="dropdown-item">Another Action</a>
                                <a class="dropdown-item">Something else is here</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>