<div class="container">

    <h2>About Us</h2>

    <div class="row">
        <div class="about-us">
            <img src="../assets/img/about-us-1.png" alt="">
            <p>With over 1500 members the Institute represents individuals from all credit disciplines, including trade
                credit, consumer credit, banking credit, credit information, credit insurance, debt administration and
                collections and insolvency practitioners to name just some. The Institute’s aim is to raise professional
                standards in credit management, to increase the awareness of its importance as a crucial management
                function that plays a vital role in marketing, cash flow and profitability, and to educate and inform
                its ever-growing membership base.</p>
            <p>Founded in 1953, the Institute of Credit Management is the center of expertise in South Africa for
                matters relating to the profession of credit .The Institute of Credit Management (ICM) is furthermore,
                the custodian of Credit and has taken care of the Credit industry for 67 years. The ICM has been
                improving and maintaining the quality of Credit Management qualifications and reputation incorporating
                knowledge of financial and other management training. The ICM has also built up the credibility and
                reputation of those in these fields.</p>
            <p>The ICM is a Quality Assurance Partner (QAP) of the Quality Council for Trades & Occupations (QCTO). The
                ICM are the accredited professional body registered with South African Qualifications Authority (SAQA)
                accrediting qualifying learners on the NLRD database. The ICM is the examining, assessing and
                certification body for FASSET’s credit qualification.
                <br>- Credit Management can be studied at any accredited site in South Africa.
                <br>- Learner assessments are assessed twice per annum.
            </p>
        </div>
    </div>

    <section class="our-team-section">
        <h2>Our Team</h2>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Heather<br>Lawlor</h3>
                        <span class="post">President • National Office • Professional Body</span>
                        <a href="https://www.linkedin.com/in/lawlor-heather-54739829/?originalSubdomain=za"
                            target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Susan<br>Basson</h3>
                        <span class="post">Vice President • Registrar • Education</span>
                        <a href="https://www.linkedin.com/in/susan-basson-60a0a4120/?originalSubdomain=za"
                            target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Melanie Bezuidenhout</h3>
                        <span class="post">Finance • Marketing</span>
                        <a href="https://www.linkedin.com/in/melanie-bezuidenhout-b9375718/?originalSubdomain=za"
                            target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Noah<br>Marutlulle</h3>
                        <span class="post">Professional Body • SAQA</span>
                        <a href="https://www.linkedin.com/in/dr-noah-kaliofas-marutlulle-92719748/?originalSubdomain=za"
                            target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Briony<br>Winslet</h3>
                        <span class="post">Secretary</span>
                        <a href="https://www.linkedin.com/in/briony-winslet-1631343b/?originalSubdomain=za"
                            target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
                <div class="our-team">
                    <div class="pic">
                        <img src="../assets/img/place-holder.png">
                    </div>
                    <div class="team-content">
                        <h3 class="name">Brenda<br>Wedal</h3>
                        <span class="post">Office Administrator</span>
                        <a href="#" target="_blank" rel="noopener noreferrer" class="fa fa-linkedin"></a>
                    </div>
                </div>
            </div>

        </div>

    </section>

</div>