<div class="container">
    <h2>Courses</h2>
    <p class="sub-heading">The ICM offers the following five programmes of study through our accredited colleges:</p>

    <table class="rwd-table">
        <tr>
            <th>Programme</th>
            <th>Content</th>
        </tr>
        <tr>
            <td data-th="Movie Title"><b>Credit Management 1</b><br>Debtors Admin</td>
            <td data-th="Genre">
                • Definition of credit<br>
                • Goal setting and measurement of results<br>
                • Forms of Credit – Definitions<br>
                • Sources and Role of Credit<br>
                • Definition of Credit Terminology<br>
                • Assessments – New accounts and reviews<br>
                • Collections<br>
                • Debtors Administration<br>
                • Business Etiquette<br>
                • POE: 1 x Assignment, 2 x Assessments, 1 x Final written exam
            </td>
        </tr>
        <tr>
            <td data-th="Movie Title"><b>Credit Management 2</b><br>Credit Controller</td>
            <td data-th="Genre">
                • Legislative factors of Credit Management and the impact on customer’s ability to pay.<br>
                • Sources of finance available to Companies requiring working capital / growth funding.<br>
                • Credit Policy: Definition, Role and use of the policy.<br>
                • Understanding targets.<br>
                • Collections.<br>
                • Credit limit management.<br>
                • Factors to consider when approving an account.<br>
                • Securing an account.<br>
                • Insurance.<br>
                • Debt re-scheduling.<br>
                • Export and International Credit.<br>
                • Organisational structure.<br>
                • Audits – Basic understanding.<br>
                • POE: 1 x Assignment, 2 x Assessments, 1 x Final written exam.
            </td>
        </tr>
        <tr>
            <td data-th="Movie Title"><b>Credit Management 3</b><br>Credit Supervisor</td>
            <td data-th="Genre">
                • The role of Credit in the Economy.<br>
                • Management.<br>
                • Structure of a Credit Management Department.<br>
                • Supervising the department.<br>
                • Financial Management.<br>
                • Insolvencies and Liquidations.<br>
                • Law Courts.<br>
                • Legal action on delinquent debtors.<br>
                • POE: 1 x Assignment, 2 x Assessments, 1 x Final written exam.
            </td>
        </tr>
        <tr>
            <td data-th="Movie Title"><b>Credit Management 4</b><br>Credit Manager</td>
            <td data-th="Genre">
                • Human Resources.<br>
                • Credit Management Statistics.<br>
                • Business Law.<br>
                • Introduction to Business Economics.<br>
                • POE: 1 x Assignment, 2 x Assessments, 1 x Final written exam.
            </td>
        </tr>
        <tr>
            <td data-th="Movie Title"><b>Credit Management 5</b><br>National Credit Manager</td>
            <td data-th="Genre">
                • Credit Management reports.<br>
                • Internal and external audit and the requirements.<br>
                • SARS and Taxes.<br>
                • International rating agencies.<br>
                • Industrial Relations.<br>
                • Leadership Skills.<br>
                • Boardroom etiquette – conducting and attending meetings.<br>
                • Sales and Marketing.<br>
                • POE: 1 x Assignment, 2 x Assessments, 1 x Final written exam
            </td>
        </tr>

    </table>
</div>

