<div class="container">
    <h1>Services</h1>
    <p>The ICM is the Professional Body for Credit Management and is Responsible for National Assessments and Moderation of all Credit Assessments which are held twice per annum.</p>
    <p>To award Professional designations to members who meet the criteria on application and as determined by the board from time to time. </p>
    <p>The schedule of designations may be obtained from the ICM on application.</p>
    <p>To promote, assist with the formulation of, or oppose any legislation, regulation, or any form of control negatively affecting the credit industry, the profession of credit management or Members of the Institute.</p>
    <p>ICM National Assessments: With the Covid-19 Pandemic  the  ICM made the decision with the learners safety to introduce Digital National Assessments to ensure the safety and well-being of our Learners, the ICM Education Committee and ICM Board made the decision to introduce Digital National Assessments.</p>
</div>