<div class="container">
    <h1>Accredited Colleges</h1>
    <p>The ICM has had to streamline some of the various colleges which where formerly accredited due to unfortunate
        incidents, and hope to accredit more formulised colleges in the future.</p>
    <p class="bold">Currently, the following colleges are accredited:</p>

    <div class="colleges">
        <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
            <div class="college">
                <a href="https://www.creditblendetraining.co.za/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/cbt-logo.png"
                    alt="Credit Blende Training"></a>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
            <div class="college">
                <a href="https://www.bsigroup.com/en-ZA/Our-services/Training-courses/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/experian-logo.png"
                    alt="Experian Learning"></a>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 margin-bottom">
            <div class="college">
                <a href="https://www.intec.edu.za/" target="_blank" rel="noopener noreferrer"><img src="../assets/img/intec-logo.png" alt="Intec"></a>
            </div>
        </div>
    </div>
</div>