<div class="container">
    <h1>Events</h1>
    <p>The Institute of Credit Managements Annual Events include:</p>
    <ul>
        <li>
            Annual Gala Event which include Bursary Awards
        </li>
        <li>
            Top Student of the Year award
        </li>
        <li>
            Speaker Events
        </li>
        <li>
            Breakfast Events
        </li>
        <li>
            Half day Workshops
        </li>
        <li>
            2- day Workshops
        </li>
    </ul>
</div>